<div class="atomex__page light-background">
  <div class="first-page__container">
    <i class="atomex-logo"></i>
    <div class="first-page__controls">
      <h1>Error 404 - page not found.</h1>
      <NavigateButton Variant="center" To="/">
        <span>Go to first page</span>
      </NavigateButton>
    </div>
  </div>
</div>