@inject IJSRuntime JSRuntime;
@inject WalletStorage walletStorage;
@inject AccountStorage accountStorage;

<div id="wert-widget"></div>

@code {
  
  
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      var _receiveVM = new ReceiveViewModel(accountStorage.AtomexApp, walletStorage.SelectedCurrency);
      
      await JSRuntime.InvokeVoidAsync(
        "renderWertWidget",
        walletStorage.SelectedCurrency.Name,
        _receiveVM.SelectedAddress, accountStorage.CurrentNetwork.ToString(),
        $"user:{accountStorage.GetUserId()}/network:{accountStorage.CurrentNetwork}"
      );
    }
  }
}