@using Atomex.ViewModels
@inject IJSRuntime _jsRuntime;
@inject WalletStorage _walletStorage;
@inject AccountStorage _accountStorage;

<div id="wert-widget"></div>

@code {


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var receiveVm = new ReceiveViewModel(_accountStorage.AtomexApp, _walletStorage.SelectedCurrency);

            await _jsRuntime.InvokeVoidAsync(
                "renderWertWidget",
                _walletStorage.SelectedCurrency.Name,
                receiveVm.SelectedAddress, _accountStorage.CurrentNetwork.ToString(),
                $"user:{Helpers.GetUserId(_accountStorage.Account)}/network:{_accountStorage.CurrentNetwork}"
                );
        }
    }

}