<div>
  <table class="currencies-table">
  <tr>
    <th>Currency</th>
    <th>Balance</th>
    <th>Value</th>
    <th>% in portfolio</th>
  </tr>
  <tr>
    <td>
      <div class="currency-container">
        <i class="currency-icon bitcoin" />
        <span class="currency-name">bitcoin</span>
      </div>
    </td>
    <td>Smith</td>
    <td>50</td>
    <td>50</td>
  </tr>
  <tr>
    <td>
      <div class="currency-container">
        <i class="currency-icon ethereum" />
        <span class="currency-name">ethereum</span>
      </div>
    </td>
    <td>Jackson</td>
    <td>94</td>
    <td>50</td>
  </tr>

  <tr>
    <td>
      <div class="currency-container">
        <i class="currency-icon litecoin" />
        <span class="currency-name">litecoin</span>
      </div>
    </td>
    <td>Jackson</td>
    <td>94</td>
    <td>50</td>
  </tr>

  <tr>
    <td>
      <div class="currency-container">
        <i class="currency-icon tezos" />
        <span class="currency-name">tezos</span>
      </div>
    </td>
    <td>Jackson</td>
    <td>94</td>
    <td>50</td>
  </tr>
</table>
</div>