  <div class="rounded-dark-container">
    <div class="modal-currency-title__container">
      <i class="icon currency-icon bitcoin"></i>
      <div class="modal-currency-title__text-container">
        <div>BITCOIN</div>
        <div>0.0000000000 <span>BTC</span></div>
      </div>
    </div>
  </div>