<div class="currencies-row">
  <div>
    <div>
        <i class="icon currency-icon bitcoin" />
    </div>
    <div>
      Bitcoin
    </div>
  </div>
  <div>
    <div>
        <i class="icon currency-icon ethereum" />
    </div>
    <div>
      Ethereum
    </div>
  </div>
  <div>
    <div>
        <i class="icon currency-icon litecoin" />
    </div>
    <div>
      Litecoin
    </div>
  </div>
  <div>
    <div>
        <i class="icon currency-icon tezos" />
    </div>
    <div>
      Tezos
    </div>
  </div>
</div>