
<div class="modal-currency-title__container" @onclick="@OnClick">
  <i class="icon currency-icon @SelectedCurrency.ToName().ToLower()"></i>
  <div class="modal-currency-title__text-container">
    <div>@SelectedCurrency.ToName().ToUpper()</div>
    <div>@Amount <span>@(((AvailableCurrenciesAbbr)(SelectedCurrency)).ToName().ToUpper())</span></div>
  </div>
</div>

@code {
  [Parameter]
  public AvailableCurrencies SelectedCurrency { get; set; }

  [Parameter]
  public decimal Amount { get; set; }

  [Parameter]
  public EventCallback OnClick { get; set; }
}