
@inject WalletStorage walletStorage;

<div class="modal-currency-title__container" @onclick="@OnClick">
  <i class="icon currency-icon @SelectedCurrency.Description.ToLower()"></i>
  <div class="modal-currency-title__text-container">
    <div>@SelectedCurrency.Name.ToUpper()</div>
    <div>@Amount <span>@SelectedCurrency.Name</span></div>
  </div>
</div>

@code {
  [Parameter]
  public Currency SelectedCurrency { get; set; }

  [Parameter]
  public decimal Amount { get; set; }

  [Parameter]
  public EventCallback OnClick { get; set; }


  protected override void OnInitialized()
  {
    walletStorage.RefreshRequested += StateHasChanged;
  }
}