@inject WalletStorage walletStorage;

<div class="donut-chart__container">
    <canvas id="currencies-donut"></canvas>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
      if (firstRender)
      {
        await walletStorage.DrawDonutChart();
      }
    }
}