<footer class="wallet-page__footer">
  <div>
    <span class="footer-text">
      Version 1.0.20
    </span>
  </div>
  <div>
    <a href="#" class="footer-link footer-text">Rates Provider</a>
    <a href="#" class="footer-link footer-text">Market Data</a>
    <a href="#" class="footer-link footer-text">Exchange</a>
  </div>
</footer>