<div class="lds-ellipsis @(!String.IsNullOrEmpty(ClassName) ? ClassName : "")">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

@code {
    [Parameter]
    public string ClassName { get; set; }
}