@if (IsOpen) {
  <div class="modal-window light-background">
    <i class="close-icon"></i>
    @ChildContent
  </div>
}

@code {
  [Parameter]
  public RenderFragment ChildContent { get; set; }

  [Parameter]
  public bool IsOpen { get; set; }
}