<div class="password-strongness @getBgColor()">
    @Type.ToName()
</div>

@code {
    [Parameter]
    public RegisterStorage.PassStrongness Type { get ; set; }

    protected string getBgColor() {
        if (Type.ToName().ToLower() == "blank") {
            return "bg-dark";
        }

        if (Type.ToName().ToLower() == "too short")
        {
            return "bg-danger";
        }


        if (Type.ToName().ToLower() == "weak") {
            return "bg-warning";
        }

        if (Type.ToName().ToLower() == "medium") {
            return "bg-secondary";
        }

        if (Type.ToName().ToLower() == "strong") {
            return "bg-primary";
        }

        if (Type.ToName().ToLower() == "very strong") {
            return "bg-success";
        }
        return "bg-secondary";
    }
}