<div class="rounded-dark-container @(Classname)" @onclick="@OnClick">
  @ChildContent
</div>

@code {
  [Parameter]
  public string Classname { get; set; } = String.Empty;

  [Parameter]
  public RenderFragment ChildContent { get; set; }

  [Parameter]
  public EventCallback OnClick { get; set; }
}