  <div class="rounded-dark-container" @onclick="@OnClick">
    @ChildContent
  </div>

@code {
  [Parameter]
  public RenderFragment ChildContent { get; set; }

  [Parameter]
  public EventCallback OnClick { get; set; }
}