<div class="tokens-container">
    <div class="wallet-page__left-nav dark-background tokens">
        <div>
            <button class="wallet-menu__button active" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton"/>
                <span class="contract-name">Hic et nunc NFTs</span>
            </button>

            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1EpQVwqLGSH7vMCWKJnq6Uxi851sEDbhWL"/>
                <span class="contract-name">Atomex kUSD</span>
            </button>

            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1PDrBE59Zmxnb8vXRgRAG1XmvTMTs5EDHU"/>
                <span class="contract-name">Dexter ETHtz/XTZ</span>
            </button>
            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton"/>
                <span class="contract-name">Hic et nunc NFTs</span>
            </button>

            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1EpQVwqLGSH7vMCWKJnq6Uxi851sEDbhWL"/>
                <span class="contract-name">Atomex kUSD</span>
            </button>

            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1PDrBE59Zmxnb8vXRgRAG1XmvTMTs5EDHU"/>
                <span class="contract-name">Dexter ETHtz/XTZ</span>
            </button>
            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton"/>
                <span class="contract-name">Hic et nunc NFTs</span>
            </button>

            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1EpQVwqLGSH7vMCWKJnq6Uxi851sEDbhWL"/>
                <span class="contract-name">Atomex kUSD</span>
            </button>

            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1PDrBE59Zmxnb8vXRgRAG1XmvTMTs5EDHU"/>
                <span class="contract-name">Dexter ETHtz/XTZ</span>
            </button>
            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton"/>
                <span class="contract-name">Hic et nunc NFTs</span>
            </button>

            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1EpQVwqLGSH7vMCWKJnq6Uxi851sEDbhWL"/>
                <span class="contract-name">Atomex kUSD</span>
            </button>

            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1PDrBE59Zmxnb8vXRgRAG1XmvTMTs5EDHU"/>
                <span class="contract-name">Dexter ETHtz/XTZ</span>
            </button>
            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton"/>
                <span class="contract-name">Hic et nunc NFTs</span>
            </button>

            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1EpQVwqLGSH7vMCWKJnq6Uxi851sEDbhWL"/>
                <span class="contract-name">Atomex kUSD</span>
            </button>

            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1PDrBE59Zmxnb8vXRgRAG1XmvTMTs5EDHU"/>
                <span class="contract-name">Dexter ETHtz/XTZ</span>
            </button>
            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton"/>
                <span class="contract-name">Hic et nunc NFTs</span>
            </button>

            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1EpQVwqLGSH7vMCWKJnq6Uxi851sEDbhWL"/>
                <span class="contract-name">Atomex kUSD</span>
            </button>

            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1PDrBE59Zmxnb8vXRgRAG1XmvTMTs5EDHU"/>
                <span class="contract-name">Dexter ETHtz/XTZ</span>
            </button>
            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton"/>
                <span class="contract-name">Hic et nunc NFTs</span>
            </button>

            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1EpQVwqLGSH7vMCWKJnq6Uxi851sEDbhWL"/>
                <span class="contract-name">Atomex kUSD</span>
            </button>

            <button class="wallet-menu__button" type="button">
                <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1PDrBE59Zmxnb8vXRgRAG1XmvTMTs5EDHU"/>
                <span class="contract-name">Dexter ETHtz/XTZ</span>
            </button>

        </div>
    </div>
    <div class="contract-content-side">
        <div class="contract-tabs-container">
            <button class="contract-tabs-btn active">Tokens</button>
            <button class="contract-tabs-btn">Transfers</button>
        </div>
        <div class="contract-content-container">
            conteeeent!!!
        </div>
    </div>
</div>