 <button>
   <i />
   <span>
     @if(Variant == ButtonWariants.Portfolio) {

     }

     @if(Variant == ButtonWariants.Wallets) {

     }

     @if(Variant == ButtonWariants.Conversion) {

     }
   </span>
 </button>
 
@code {
  [Parameter]
  public ButtonWariants Variant { get; set; }

  [Parameter]
  public bool IsActive { get; set; } 

  [Parameter]
  public EventCallback OnClick { get; set; }

  public enum ButtonWariants {
    Portfolio,
    Wallets,
    Conversion
  }
}