@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('animations/spinner.css');
@import url('pie-chart/pie.css');
@import url('checkbox/index.css');

html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

a:hover {
    color: white;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
    position: relative;
}

.main .top-row {
    background-color: #e6e6e6;
    border-bottom: 1px solid #d6d5d5;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.sidebar .top-row {
    background-color: rgba(0, 0, 0, 0.4);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.text-center {
    text-align: center;
}

:root {
    --dark-gradient-color: #0E1422;
    --light-gradient-color: #18263D;
    --ligth-splashscreen-gradient-color: #214172;
    --dark-splashscreen-gradinet-color: #1D2E4D;
    --light-blue: #2982B4;
    --light-blue-sky: #B8C9DB;
    --dark-blue: #40537E;
    --dark-blue-background: #172B50;
    --light-blue-sky-background: #2B51AE;
    --error-color: #dc3545;
    --very-dark-blue: #0F203D;
    --light-gray: #B8B8BA;
    --medium-gray: #80817D;
    --dark-input-dark-blue: #192E50;
    --dark-input-light-blue: #273F73;
    --orange: #FA9517;
}

@font-face {
    font-family: RobotoRegular;
    src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: RobotoLight;
    src: url('fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: RobotoBold;
    src: url('fonts/Roboto-Bold.ttf');
}

.error-input {
    box-shadow: 0 0 0 2px var(--error-color);
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    position: relative;
}

.no-error {
    display: flex;
    width: 100%;
    position: relative;
}

.error-description {
    font-size: 15px;
    font-family: RobotoRegular;
    margin-left: 22px;
    margin-top: 4px;
    color: var(--error-color);
}

.icon-input {
    position: absolute;
    left: 20px;
    top: 15px;
    height: 20px;
    width: 20px;
    background-position: center;
    z-index: 1;
}

.icon-input.lock {
    background-image: url(icons/lock.svg);
}

.dark-background {
    background: linear-gradient(to top left, var(--light-gradient-color), var(--dark-gradient-color));
}

.light-background {
    background: linear-gradient(to bottom left, var(--ligth-splashscreen-gradient-color), var(--dark-splashscreen-gradinet-color));
}

.main .register {
    height: 100%;
    font-family: RobotoRegular;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-splash {
    font-family: RobotoLight;
    width: 800px;
    height: 620px;
    border-radius: 10px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loading {
    opacity: 0.5;
    position: relative;
    pointer-events: none;
}

.register-splash h2 {
    margin-bottom: 22px;
}

.register-splash p {
    font-size: 18px;
    margin-bottom: 22px;
}

.register-splash .buttons-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.register-splash .buttons-container>button {
    margin-right: 5px;
}

.register-splash .buttons-container>button:last-child {
    margin: 0;
}


.atomex-input-container {
    font-family: RobotoRegular;
    font-size: 16px;
    font-weight: 700;
    position: relative;
}

.atomex-select::after {
    content: '';
    background-image: url(icons/triangle.svg);
    position: absolute;
    right: 30px;
    top: 40%;
    height: 12px;
    width: 12px;
    transform: rotate(180deg);
}

.atomex-select .additional-info {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--orange);
    max-width: 120px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
}

.atomex-input-container select,
.atomex-input-container input {
    position: relative;
    height: 50px;
    display: block;
    color: var(--dark-blue);
    line-height: 1.3;
    padding: .6em 1.4em .5em 1.7em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: none;
    border-radius: 2em;
    background-color: var(--light-blue-sky);
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.atomex-input-container>select:focus {
    border-color: none;
    box-shadow: none;
}


.with-description {
    display: flex;
}

.with-description select,
.with-description input {
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
}

.input-description {
    color: white;
    background-color: var(--dark-blue-background);
    display: flex;
    align-items: center;
    padding-left: 40px;
    border-top-left-radius: 3.5em;
    border-bottom-left-radius: 3.5em;
    padding-left: 50px;
    padding-right: 15px;
    min-width: 160px;
}

.input-description.dark {
    background-color: var(--dark-input-light-blue);
}

.navigate-button {
    height: 50px;
    background-color: var(--dark-blue-background);
    font-family: RobotoRegular;
    font-size: 16px;
    color: white;
    border: none;
    padding: 0 40px;
}

button:hover {
    background-color: var(--dark-blue);
}

.navigate-button[disabled] {
    background-color: var(--dark-blue-background);
    opacity: 0.5;
}

.navigate-button.right {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.navigate-button.left {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.navigate-button.center {
    border-radius: 50px;
}

.navigate-button.small {
    height: 30px;
    padding: 0 10px;
    border-radius: 10px;
}

.steps-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.steps-container .step {
    width: 50px;
    height: 50px;
    background-color: var(--dark-blue-background);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: RobotoRegular;
    font-size: 18px;
    color: white;
    z-index: 2;
    border: 3px solid var(--light-blue-sky-background);
}

.steps-container .step.filled {
    background-color: var(--light-blue-sky-background);
}

.steps-connector {
    position: absolute;
    z-index: 1;
    width: 95%;
    left: 2px;
    background-color: var(--dark-blue-background);
    height: 10px;
    top: calc(50% - 5px);
    border-top: 3px solid var(--light-blue-sky-background);
    border-bottom: 3px solid var(--light-blue-sky-background);
}

.steps-connector.filled {
    position: absolute;
    z-index: 1;
    left: 2px;
    background-color: var(--light-blue-sky-background);
    height: 10px;
    top: calc(50% - 5px);
}

.atomex-input {
    position: relative;
    width: 100%;
}

.atomex-input input {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    padding: 0 22px;
    font-family: RobotoRegular;
    font-size: 16px;
    background-color: var(--light-blue-sky);
    color: var(--dark-blue);
}

.atomex-input.dark input {
    background-color: var(--dark-input-dark-blue);
    color: white;
}

.atomex-input input[type=password] {
    padding-left: 52px;
}

.register-row-container>* {
    margin-bottom: 15px;
}

.register-row-container>*:last-child {
    margin-bottom: 0;
}

.mnemonic-output__container {
    display: flex;
}

.mnemonic-output__container>div {
    flex-basis: 85%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
    color: black;
    min-height: 50px;
    padding: 15px 22px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: var(--light-blue-sky);
    font-family: RobotoRegular;
    color: var(--dark-blue);
}

.mnemonic-output__container>button {
    flex-basis: 15%;
    border: none;
    font-family: RobotoRegular;
    font-size: 18px;
    color: white;
    background-color: var(--dark-blue-background);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.mnemonic-output__container>button:hover {
    background-color: var(--dark-blue);
}


.password-strongness {
    height: 25px;
    font-family: RobotoLight;
    font-size: 14px;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wallets-list__page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: RobotoLight;
    font-size: 16px;
}

.wallets-list__container {
    width: 360px;
    background-color: var(--very-dark-blue);
    border-radius: 10px;
    min-height: 40px;
    padding: 10px;
    margin-bottom: 1rem;
    max-height: 500px;
    overflow-y: scroll;
}

.wallet-icon {
    display: block;
    width: 50px;
    height: 50px;
    background-position: center;
    background-image: url('icons/wallet.svg');
}

.wallet-item {
    display: flex;
    align-items: center;
    color: #D1E6F9;
    margin-bottom: 10px;
    cursor: pointer;
}

.wallet-item:last-child {
    margin: 0;
}

.wallet-item:hover {
    color: white;
}

.wallet-item:hover .wallet-icon {
    background-image: url('icons/wallet-selected.svg');
}

.wallet-item>*:last-child {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 85%;
    white-space: nowrap;
    margin-left: 10px;
}

.wallets-list__unlock-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wallets-list__unlock-container>*:last-child {
    margin-top: 20px;
}

.loading-container {
    position: relative;
}

.wallet-page {
    height: 96vh;
    display: flex;
}

.wallet-page__container {
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wallet-page__left-nav {
    flex-basis: 15%;
    height: 100%;
}

.wallet-page__left-nav>*:first-child {
    margin-top: 30px
}

.wallet-page__footer {
    height: 4vh;
    background-color: var(--dark-gradient-color);
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
}

.donut-chart__container {
    display: flex;
    width: 100%;
}

.donut-chart__container figure {
    margin: 0 auto;
}


.tableFixHead {
    overflow-y: auto;
    height: 220px;
}

.tableFixHead.portfolio {
    height: 320px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    margin: 0 20px 20px;
    font-family: RobotoRegular;
    font-size: 16px;
    text-transform: uppercase;
}

th,
td {
    padding: 8px 16px;
}

table>thead>tr>th:last-child {
    border-right: none;
}

table>tbody>tr:nth-child(2n) {
    background: linear-gradient(to top left, var(--light-gradient-color), var(--dark-gradient-color));
}

table>tbody>tr:nth-child(2n + 1) {
    background: linear-gradient(to bottom left, var(--ligth-splashscreen-gradient-color), var(--dark-splashscreen-gradinet-color));
}

table>tbody>tr>td {
    padding-left: 15px;
}

table>thead>tr>th {
    padding: 6px;
    padding-left: 15px;
    color: white;
    background-color: var(--dark-gradient-color);
    border-bottom: 3px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
}

.icon-vertical-text {
    display: flex;
    align-items: center;
}

.icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-icon {
    background-size: 50px;
    width: 55px;
    height: 55px;
}

.currency-icon-big {
    background-size: 85px;
    width: 90px;
    height: 90px;
}

.transaction-icon {
    background-size: 25px;
    width: 25px;
    height: 25px;
    cursor: help;
}



.input {
    background-image: url('images/received.png');
}

.output {
    background-image: url('images/sent.png');
}

.swapredeem {
    background-image: url('images/refunded.png');
}

.unknown {
    background-image: url('images/unknown.png');
}

.bitcoin {
    background-image: url('images/bitcoin_90x90.png');
}

.ethereum {
    background-image: url('images/ethereum_90x90.png');
}

.litecoin {
    background-image: url('images/litecoin_90x90.png');
}

.tezos {
    background-image: url('images/tezos_90x90.png');
}

.currency-name {
    margin-left: 10px;
}

.wallet-menu-icon {
    display: inline-block;
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.wallet-menu-icon.portfolio {
    background-image: url('icons/pie-chart.svg');
}

.wallet-menu-icon.wallets {
    background-image: url('icons/wallet-selected.svg');
}

.wallet-menu-icon.conversion {
    background-image: url('icons/conversion.svg');
}

.wallet-menu__button {
    width: 100%;
    border: none;
    padding: 10px 15px;
    font-family: RobotoRegular;
    font-size: 18px;
    color: white;
    background: unset;
    display: flex;
    align-items: center;
    outline: none !important;
}

.wallet-menu__button.active {
    background-color: var(--light-blue);
}

.wallet-menu__button>*:last-child {
    margin-left: 15px;
}

.footer-text {
    font-family: RobotoLight;
    font-size: 12px;
    color: white;
}

.footer-link {
    border-right: 1px solid white;
    padding-right: 6px;
}

.footer-link:last-child {
    border: none;
}

.transaction-desc {
    padding: 6px 0;
    text-transform: initial;
    padding-left: 15px;
}

.negative-transaction-amount {
    color: var(--light-blue-sky);
}

.currencies-row {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.currencies-row>* {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.currencies-row>*:last-child {
    margin: 0;
}

.currency-card {
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background-color: var(--dark-gradient-color);
    padding: 15px;
    border-radius: 20px;
}

.currency-card__selected-currency {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.currency-card__selected-currency>*:last-child {
    margin-left: 15px;
}

.currency-card__buttons {
    display: flex;
    justify-content: space-between;
}

.currency-card__buttons>* {
    margin-right: 5px;
    width: 100%;
}

.currency-card__buttons>*:last-child {
    margin: 0;
}

.currency-card__currency-value {
    font-size: 30px;
    line-height: 28px;
}

.currency-card__currency-value-desc {
    font-size: 22px;
}

.currency-card__dollar-value {
    font-size: 26px;
    line-height: 28px;
    color: var(--medium-gray);
}

.currency-card__dollar-value-desc {
    font-size: 18px;
}

.modal-window {
    position: absolute;
    top: 0;
    left: 50%;
    width: 762px;
    padding: 15px;
    top: calc(50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px black;
    z-index: 100;
}

.no-flex {
    display: block;
}

.modal-title {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 24px;
    font-family: RobotoLight;
    margin: 0 -15px;
}

.modal-subtitle {
    font-size: 18px;
    font-family: RobotoLight;
    display: flex;
    justify-content: center;
}

.rounded-dark-container {
    background-color: var(--dark-input-dark-blue);
    padding: 10px 20px;
    border-radius: 20px;
}

.modal-currency-title__container {
    display: flex;
    align-items: center;
}

.modal-currency-title__text-container {
    margin-left: 15px;
}

.modal-currency-title__text-container>*:first-child {
    text-transform: uppercase;
}

.modal-currency-title__text-container>*:last-child {
    font-size: 16px;
}

.modal-currency-title__text-container>*:last-child>span {
    text-transform: uppercase;
    font-size: 12px;
}

.additional-input-info {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--medium-gray);
}

.modal__container>* {
    margin-bottom: 10px;
}

.modal__container>*:nth-child(1) {
    margin-bottom: 30px;
}

.modal__container>*:nth-child(2) {
    margin-bottom: 20px;
}

.modal__container>*:last-child {
    margin-top: 40px;
    margin-bottom: 0;
}

.modal-buttons-container {
    display: flex;
    justify-content: center;
}

.close-icon {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('icons/cancel.svg');
    background-size: 34px;
    height: 34px;
    width: 34px;
    display: inline-block;
    cursor: pointer;
    top: -17px;
    right: -17px;
}

.receive-qrcode {
    display: flex;
    justify-content: center;
}

.receive-qrcode img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.copy-button {
    border: none;
    background-image: url('icons/copy.svg');
    background-size: 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.receive-modal-dropdown__container {
    display: flex;
    align-items: center;
}

.receive-modal-dropdown__container>*:first-child {
    width: 100%;
}

.receive-modal-dropdown__container>*:last-child {
    margin-left: 15px;
}

.exchange {
    margin-top: 25px;
}

.exchange>* {
    margin-bottom: 15px;
}

.exchange>*:last-child {
    margin: 0;
}

.exchange-container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.exchange-container>span {
    margin-right: 10px;
    font-family: RobotoRegular;
    font-size: 16px;
    width: 70px;
    text-align: right;
    margin-left: -80px;
}

.exchange-container>.rounded-dark-container::after {
    position: absolute;
    right: 20px;
    top: 29px;
    content: "";
    background-image: url(icons/triangle-white.svg);
    background-position: center;
    background-size: 15px;
    width: 15px;
    height: 15px;
    transform: rotate(180deg);
    transition: transform .3s;
}

.exchange-container.opened>.rounded-dark-container::after {
    transform: none;
}

.exchange-container>.rounded-dark-container {
    width: 400px;
    position: relative;
    cursor: pointer;
}

.exchange-dropdown {
    position: absolute;
    top: 75px;
    width: 400px;
    z-index: 10;
    left: 0;
}

.exchange-dropdown>div {
    padding: 10px 20px;
    cursor: pointer;
}

.exchange-dropdown>div:nth-child(1n) {
    background: linear-gradient(to top left, var(--light-gradient-color), var(--dark-gradient-color));
}

.exchange-dropdown>div:nth-child(2n) {
    background: linear-gradient(to bottom left, var(--ligth-splashscreen-gradient-color), var(--dark-splashscreen-gradinet-color));
}

.exchange-amount-container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.exchange-amount-container>span {
    width: 70px;
    margin-right: 10px;
    text-align: right;
    margin-left: -80px;
}

.currency-abbr {
    font-size: 14px;
    line-height: 24px;
}

.currency-abbr.small {
    font-size: 12px;
}

.exchange-amount__input {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.exchange-amount__input>input {
    width: 400px;
    border: none;
    height: 45px;
    background-color: var(--dark-input-dark-blue);
    color: white;
    border-radius: 20px;
    padding: 0px 20px;
}

.exchange-amount__input>.exchexchange-amount__input-add-info {
    position: absolute;
    right: 0;

    display: flex;
    height: 100%;
    align-items: center;
}

.exchange-amount__input>div>*:first-child {
    margin-right: 10px;
}

.exchange-amount__input>div>*:last-child {
    margin-right: 15px;
}

.exchange-amount-container__usd-amount {
    font-size: 14px;
    color: var(--medium-gray)
}

.currencies-exchange-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0;
}

.currencies-exchange__currency-usd {
    display: flex;
    flex-direction: column;
}

.currencies-exchange-row>*:first-child {
    align-items: flex-end;
    margin-right: 15px;
}



.currencies-exchange-row>*:last-child {
    align-items: flex-start;
    margin-left: 15px;
}

.exchange-button__container {
    display: flex;
    justify-content: center;
}


.exchange-info {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.exchange-info>*:first-child {
    width: 400px;
    font-family: RobotoLight;
}

.convert-arrow-icon {
    background-image: url('icons/right-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    width: 15px;
    height: 15px;
    padding: 0 20px;
}

.gray-text {
    color: var(--medium-gray);
}

.white-text {
    color: #FFF;
}

.exchange-amount__available-container {
    position: absolute;
    right: -10px;
    transform: translateX(100%)
}