@page "/"
@inject AccountStorage accountStorage;
@inject BakerStorage bs;

<div class="atomex__page light-background">
  <div class="first-page__container">
    <i class="atomex-logo"></i>
    <div class="first-page__controls">
      <NavigateButton Variant="full" To="/wallets-list">
        <span class="uppercase">My wallets</span>
      </NavigateButton>
      <NavigateButton Variant="full" To="/create">
        <span class="uppercase">Create new wallet</span>
      </NavigateButton>
      <NavLink href="/restore">
        I want to restore my wallet
      </NavLink>
    </div>
  </div>
</div>


@code {
  protected override async Task OnInitializedAsync()
  {
    // await accountStorage.ConnectToWallet("mainnet test", "StoneGiant25".ToSecureString()); //todo: remove in prod
  }
}