@page "/wallet"

<div class="wallet-page dark-background">
    <div class="wallet-page__left-nav dark-background">
        <button>Portfolio</button>
    </div>
    <div class="wallet-page__container">
        <DonutChart LTCPercent="15" ETHPercent="20" XTZPercent="30" BTCPercent="35" />
        <CurrenciesTable />
    </div>
</div>
<footer class="wallet-page__footer">footer</footer>

@code {

}
