@inherits LayoutComponentBase
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject AccountStorage AccountStorage
@inject WalletStorage WalletStorage
@inject SwapStorage SwapStorage


<div class="main">
    @Body
</div>