@inherits LayoutComponentBase
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject AccountStorage AccountStorage

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    @Body
</div>

@code {

}